@import './base.css';

body {
    min-height: 100%;
}

#app{
    display: flex;
    flex-direction: column;
}

main.main-container{
    flex: 1;
}

.cursor-pointer{
    cursor: pointer;
}

.blog-header{
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.image-item-control-block{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    right: 6px;
    top: 6px;
    z-index: 2;
}